.u-section-1 .u-sheet-1 {
  min-height: 234px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 127px auto 0 587px;
  padding: 15px 87px 16px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0 69px;
  padding: 15px 88px 16px 87px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -55px auto 0 328px;
  padding: 15px 87px 16px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -56px auto 0 846px;
  padding: 15px 87px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 126px;
    margin-right: 271px;
    margin-left: auto;
    padding-right: 62px;
    padding-bottom: 15px;
    padding-left: 62px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    padding-right: 63px;
    padding-left: 61px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -54px;
    margin-left: 253px;
    padding-right: 62px;
    padding-left: 62px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: auto;
    padding-right: 62px;
    padding-left: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 246px;
    margin-right: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -175px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -55px;
    margin-right: 115px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 65px;
    margin-right: auto;
    margin-left: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -157px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 60px;
  }

  .u-section-1 .u-btn-4 {
    margin: 47px 60px 41px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 294px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -232px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 122px;
    margin-right: auto;
    margin-bottom: 45px;
  }
}@font-face {
  font-family: 'KhBLLazyDistorted';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KhBLLazyDistorted.ttf);
}@font-face {
  font-family: 'KantumruyPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KantumruyPro-Regular.ttf);
}