@font-face {
  font-family: 'KhBLLazyDistorted';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KhBLLazyDistorted.ttf);
}@font-face {
  font-family: 'KantumruyPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KantumruyPro-Regular.ttf);
}